header.header-wrapper {
  /*TODO: remove class? */
  // box-shadow: inset 0 0 0 1px #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 2200px;
  height: 12vh;
  z-index: 10;
  padding-top: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  #blender-fav2 {
    border: 1px solid #fff;
    width: 10vh;
    height: 10vh;
    mix-blend-mode: color-burn;
    // background-color: burlywood;
    // mix-blend-mode: color-burn;
    display: none;
  }
  // border: 1px solid #fff;

  #blender-fav2 {
  }
}
