

/***************************/
$icon-screen-green: rgb(146, 212, 146);

/*************************************/
$calBorderRad: 6px;
/********** STYLECODE VARS ********/
$gameClass: #9096f8;

$test: rgba(209, 93, 219, 0.5);

/**********STYLECODE VARS**********/

:root {
--power-off-trim: #dba956;
--power-off: #82afaf;
--power-on: #ff9232;
--power-on-glow: #ffdca4;
--power-light-off: #5f594f;

--base-btn-color: #536277;
--base-btn-outer: #5d5f62;
--base-btn-mid: #727578;

--inc-light-off-trim:  #666;
--inc-light-off:  #222;

--inc-light-on: #BEECFF;
--inc-light-glow: #BEECFF;
--inc-light-on-trim:  #fff;


--heading-color: #ffdca3;
--subheading-color: #cfb58c;

--mode-icon-bg:  #2f3238;
--primary-bluegrey:  #2f3238;

// --photo-gallery-bg: linear-gradient(45deg, rgb(29, 128, 141) 0%, rgb(69, 87, 165) 100%);
--photo-gallery-bg: #707070;


/****APP COLORS****/
--active-blue: #beecff;
--completed-blue: #76ccbf;
--active-orange: #F27457;
--active-orange-2: #ff5f3b;
--secondary-peach: #ffb861;
--idle-lt-grey: #bcbcbc;
--idle-lt-grey-2: #dbdbdb;
--active-lt-grey-1: #eee;

--grey-A: #777;
--grey-B: #aaa;
--grey-C: #ddd;
--grey-D: #dfdfdf;



// var(--grey-B);
}

.test {
    st4{
        // base:
        fill:  #b3a090;
        //basedark: 
        fill: var(--active-blue);
        //baselight:
        fill: hsl(120, 100%, 42%);
        fill: teal;
        
        //border
        fill: #7c6a49;
        fill:rgba(83, 57, 7, 0.712);
        fill:#9c6600;
        fill:#fff899;
        fill: #313d5c;
        fill: #f0db96;
        fill: rgba(238, 214, 214, 0.712);
        fill:  rgba(185, 167, 146, 0.883);
        fill: rgba(144, 144, 144, 0.787);
    }
}

